@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Inclusive+Sans&family=Roboto:wght@300&display=swap');

:root{
    --main-bg-color:#2874f0
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    /* box-sizing: border-box; */
}
footer{
    height: 10vh;
    background-color: var(--main-bg-color);
    color:white;
    font-family: 'Baloo 2', cursive;
}
header{
    background-color: var(--main-bg-color);
    
}
nav{
    display: flex;
    width:100vw;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:188px;
    padding:0px 5px;
}
nav ul{
    display: flex;
    height: 55px;
    align-items: center;
    overflow: hidden;
}
nav ul li{
    list-style: none;
    padding: 0px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
}
nav ul li a:hover{
    color:yellow;
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 27px;
    width: 30vw;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
}
.container{
    min-height: calc(100vh - 58px - 10vh);
}

.btn{
      padding: 5px 10px;
      margin-left: 8px;
      border-radius: 8px;
      color:white;
      background-color:var(--main-bg-color) ;
      border: 2px solid white;
      cursor: pointer;
      font-family: 'Baloo 2', cursive;
      
}
.slider img{
    width:80vw;
    height:55vh;
}
.slider{
    width:80vw;
    margin:12px auto;
}
.cards h2{
    margin:15px 70px;
    color:rgba(145, 163, 23, 0.94);
}
.cards{
    max-width: 90vw;
    margin: 12px auto;
}
.card-items{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}
.card{
    display: flex;
    justify-content:center ;
}

   